.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    margin-top: 3rem;
}

.link{
    text-decoration: none;
    color: rgb(76, 75, 75);
    cursor: pointer;
}

.product-heading{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}