.cart-products{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.image-wrapper{
    padding: 5px;
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.cart-info{
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}