.cart-products{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.image-wrapper{
    padding: 5px;
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.cart-info{
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}

.noitems-conatiner{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    margin-top: 15rem;
    font-size: 20px;
}

.continue-btn{
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(154, 152, 152);
    color: rgb(154, 152, 152);
    transition: 0.1s ease;
}

.continue-btn:hover{
    background-color: #e5e5e5;
    border: none;
}